{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victor</title>
    <link rel="stylesheet" href="/static/css/blog/home.css">
    <link rel="stylesheet" href="/static/css/blog/post.css">
    <link rel="stylesheet" href="/static/css/profile/profile.css">
    <link rel="stylesheet" href="/static/css/blog/hover.css">
    <link rel="stylesheet" href="/static/css/detail/footer.css">
    <link rel="stylesheet" href="/static/css/menu.css">
   
    
</head>
<body>
    <div class="container">
        {% include 'blog/header.html' %}

        {% include 'profile/perfil.html' %}

        {% include 'profile/post.html' %}
        
        {% include 'menu.html' %}
    </div>
    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
</body>
</html>