
/*Refatorado*/
div.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    overflow: hidden;  
    user-select: none;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.497);
    background-color: rgb(50, 53, 63);
    z-index: 0;
    word-wrap: break-word;
    width: 500px;
}

div.post a {
    text-decoration: none;
    color: white;
}

div.post div.img {
    display: flex;
    height: 300px;
}

div.post img {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s all ease;
    
}

div.post .tag {
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s all ease;
    color: rgb(189, 189, 189);
   
}

div.post .title {
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all ease;
}

div.post .data {
    font-weight: 300;
    color: rgb(189, 189, 189);
}

div.post .descricao {
    font-weight: 400;
}

div.perfil-post {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

div.perfil-post img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


div.perfil-post a {
    transition: 0.3s all ease;
}

div.post .resources {
    display: flex;
    justify-content: space-between;

   
}

div.post .resources .tags {
    display: flex;
    flex-wrap: wrap;
}