form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

input[type=text] {
    width: 100%;
    max-width: 92%;
    border: none;
    outline: none;
    padding: 8px;
    font-weight: 500;
    color: white;
    background-color: #5b6072;
}

input[type=text]::placeholder {
    color: white;
}
button[type=submit] {
    width: 100%;
    max-width: 8%;
    border: none;
    outline: none;
    padding: 8px;
    background-color: white;
}