<div class="mudar">
    <div id="mudar">
        <i class="fa-sharp fa-regular fa-user"></i> 
        <p>Update Image</p>
    </div>
    <i onclick="Name()" class="fa-sharp fa-solid fa-arrow-right"></i>
</div>
<div class="mudar">
    <div id="mudar">
        <i class="fa-sharp fa-solid fa-key"></i> 
        <p>Update PassWord</p>
    </div>
    <i onclick="PassWord('{{request.user.id}}')" class="fa-sharp fa-solid fa-arrow-right"></i>
</div>
<div class="mudar">
    <div id="mudar">
        <i class="fa-sharp fa-solid fa-camera"></i> 
        <p>Update Image</p>
    </div>
    <i onclick="Perfil('{{request.user.id}}')" class="fa-sharp fa-solid fa-arrow-right"></i>
</div>
<div class="mudar">
    <div id="mudar">
        <i class="fa-sharp fa-solid fa-folder"></i> 
        <p>Update Background</p>
    </div>
    <i onclick="BackGround('{{request.user.id}}')" class="fa-sharp fa-solid fa-arrow-right"></i>
</div>