<div class="mudar">
    <div id="mudar">
        <i class="fa-sharp fa-regular fa-user"></i> 
        <p>Mudar Nome</p>
    </div>
    <i onclick="Nome()" class="fa-sharp fa-solid fa-arrow-right"></i>
</div>
<div class="mudar">
    <div id="mudar">
        <i class="fa-sharp fa-solid fa-key"></i> 
        <p>Mudar Senha</p>
    </div>
    <i onclick="Senha('{{request.user.id}}')" class="fa-sharp fa-solid fa-arrow-right"></i>
</div>
<div class="mudar">
    <div id="mudar">
        <i class="fa-sharp fa-solid fa-camera"></i> 
        <p>Mudar Perfil</p>
    </div>
    <i onclick="Perfil('{{request.user.id}}')" class="fa-sharp fa-solid fa-arrow-right"></i>
</div>
<div class="mudar">
    <div id="mudar">
        <i class="fa-sharp fa-solid fa-folder"></i> 
        <p>Mudar Background</p>
    </div>
    <i onclick="BackGround('{{request.user.id}}')" class="fa-sharp fa-solid fa-arrow-right"></i>
</div>