div.comentario {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
    border: 1px solid grey;
    background-color: #2d2e39;
}

div.comentario p#comentarios {
    user-select: none;
    font-weight: 600;
    color: white;
}

div.comentario div#comentario {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

div.comentario div#comentario div#perfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

div.comentario div#comentario div#descricao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
    color: white;
}

div.comentario div#comentario div#descricao a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}