{% if request.user.is_authenticated %}
    <div class="comentario">
        <p id="comentarios">Comentários({{comments.count}})</p>
        {% for comment in comments %}
        <div id="comentario">
            <div id="perfil">
                <img src="{{comment.user.profileimg.url}}" alt="">         
            </div>
            <div id="descricao">
                <a href="{% url 'profile' comment.user.user.id %}">{{comment.user}}</a>
                <p>{{comment.text}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="comentario" style="margin-bottom: 100px;">
        <p id="comentarios">Comentários({{comments.count}})</p>
        {% for comment in comments %}
        <div id="comentario">
            <div id="perfil">
                <img src="{{comment.user.profileimg.url}}" alt="">         
            </div>
            <div id="descricao">
                <a href="{% url 'profile' comment.user.user.id %}">{{comment.user}}</a>
                <p>{{comment.text}}</p>
            </div>
        </div>
        {% endfor %}
        <p style="color: #19C37D; font-size: 1em;"><i class="fa-solid fa-circle-exclamation" style="padding: 5px;"></i>Crie Uma Conta Para Comentar Neste Post</p>
    </div>
{% endif %}