{% load blog_extras %}

<div class="post">
    <div class="img">
        <img src="{{post.image.url}}" alt="">
    </div>
    <p class="title">
        {{post.description|convert_markdown|safe}}
    </p>
</div>
<div class="resources">
    {% if post.user.user.username == request.user.username %}
        <a onclick="EditPost('{{post.id}}')" id="edit" class="fa-shartp fa-solid fa-pen"></a>
        <a onclick="Delete({{post.removepost}})" id="remove" class="fa-shartp fa-solid fa-trash"></a>
        <a onclick="Share()" id="share" class="fa-shartp fa-solid fa-share"></a>
        <a onclick="Info('{{post.formatted_date}}','{{post.formatted_modified}}')" id="info" class="fa-shartp fa-solid fa-circle-info"></a>
    {% else %}
    <a onclick="Share()" id="share" class="fa-shartp fa-solid fa-share"></a>
    <a onclick="Info('{{post.formatted_date}}', '{{post.formatted_modified}}')" id="info" class="fa-shartp fa-solid fa-circle-info"></a>
    {% endif %}
</div>

