<div class="post">
    <div class="img">
        <img src="../static/img/post-6.jpg" alt="">
    </div>
    <p class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus ullam praesentium commodi blanditiis! Officiis commodi voluptatibus, dicta alias unde assumenda voluptatem, labore quam adipisci optio tenetur et expedita vero. Mollitia.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas provident laboriosam nostrum aliquam blanditiis ullam animi laborum quis nesciunt asperiores, non natus perspiciatis tenetur impedit cum, est in suscipit? Quia!
    </p>
</div>
<a id="share">Compartilhar o Post</a>