/*Reset*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2d2e39;
}

/*Div Principal*/
section#CandLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    animation: flutuar 2s infinite;
}

/*Div Formulário*/
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 50px;
    gap: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: #2d2e39;
}

/*Título Login*/
.form h1 {
    color: white;
    font-size: 2.1em;
}

/*Formulário*/
.form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

/*Botão ("Já Possuo uma Conta")*/
.form form a {
    align-self: flex-end;
    user-select: none;
    font-weight: 600;
    color: white;
}

/*Inputs*/
.form form input {
    outline: none;
    border: none;
    padding: 10px;
    color: white;
    border-bottom: 2px solid white;
    background-color: transparent;
    transition: border-color 0.4s ease;
}

.form form input::placeholder {
    color: rgba(255, 255, 255, 0.513);
}

/*Input Submit*/
.form form input#submit {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #19C37D;
    transition: 0.4s ease;
}

/*Mensagem De Boas Vindas*/
.Saudação {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-image: url(/static/img/1.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 0px 20px 20px 0px;
    color: white;
}

/*Título (Bem Vindo)*/
.Saudação h1 {
    text-align: center;
    user-select: none;
    font-size: 3em;
}

/*Mensagem Motivacional*/
.Saudação p {
    user-select: none;
    font-weight: 600;
}

/*Messages*/
.messages {
    color: red;
    font-size: 0.8em;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}