/*Login and Cadastro*/
.form form input:hover {
    border-bottom: 2px solid #19C37D;
}

.form form a:hover {
    color: #19C37D;
    transition: color 0.3s ease;
}

.form form input#submit:hover {
    color: white;
    background-color: #333333;
}