{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/hover.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css
    " rel="stylesheet">
</head>
<body>
    <div class="container">
        {% include 'blog/header.html' %}
        
        {% block content %}
            
        {% endblock %}

       {% include 'blog/footer.html' %}

       {% include 'menu.html' %}
    </div>
    <script src="../static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
</body>
</html>