{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
    
    
</head>
<body>
    <div class="container">
        {% include 'blog/header.html' %}
        
        {% block content %}
            
        {% endblock %}

       {% include 'blog/footer.html' %}
    </div>
    <script src="../static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
</body>
</html>