<footer class="footer">
    <div class="form">
        <form action="">
            <h2>Enviar Email</h2>
            <input type="text" placeholder="Seu Email">
            <input type="text" placeholder="Mensagem">
            <input id="submit" type="submit" value="Enviar Email">
        </form>
    </div>
    <div class="icons-footer">
        <p>Redes Sociais</p>
        <div class="icons">
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div> 
</footer>