<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogMind</title>
    <link rel="stylesheet" href="../static/css/detail.css">
    
</head>
<body>
    <div class="container">
        <header>
            <p>Blog<span>Mind</span></p>
            <a href="">Logout</a>
        </header>
        <p id="titulo">How To Create A Post In My Blog</p>
        <section>
            <article>
                <div class="post">
                    <div class="img">
                        <img src="../static/img/post-2.jpg" alt="">
                    </div>
                    <p class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus ullam praesentium commodi blanditiis! Officiis commodi voluptatibus, dicta alias unde assumenda voluptatem, labore quam adipisci optio tenetur et expedita vero. Mollitia.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas provident laboriosam nostrum aliquam blanditiis ullam animi laborum quis nesciunt asperiores, non natus perspiciatis tenetur impedit cum, est in suscipit? Quia!
                    </p>
                </div>
            </article>
            <p id="share">Compartilhar o Post</p>
            <div id="area-comentario">
                <p id="comentarios">Comentários (3)</p>
                <div id="comentario">
                    <div id="perfil">
                        <img src="../static/img/profile-3.jpg" alt="">         
                    </div>
                    <div id="descricao-comentario">
                        <p>Victor Amaral Mendonça</p>
                        <p>Meu Primeiro Comentário Neste Blog</p>
                    </div>
                </div>
                <div id="comentario">
                    <div id="perfil">
                        <img src="../static/img/profile-2.jpg" alt="">         
                    </div>
                    <div id="descricao-comentario">
                        <p>Victor Amaral Mendonça</p>
                        <p>Meu Segundo Comentário Neste Blog</p>
                    </div>
                </div>
            </div>
            <div id="comentar">
                <p>Fazer Um Comentário</p>
                <form action="">
                    <input id="comentario" type="text" placeholder="Comentário">
                    <input id="submit" type="submit" value="Enviar Comentário">
                </form>
            </div>
        </section>
        <footer>     
            <p>©Victor Amaral || All Right Reserved</p>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>        
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
</body>
</html>