<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogMind</title>
    <link rel="stylesheet" href="../static/css/detail/detail.css">
    <link rel="stylesheet" href="../static/css/detail/footer.css">
    <link rel="stylesheet" href="../static/css/detail/comment.css">
    <link rel="stylesheet" href="../static/css/detail/commentfunction.css">
    <link rel="stylesheet" href="../static/css/detail/hover.css">
    
</head>
<body>
    <div class="container">
        <header id="header">
            <p>Blog<span>Mind</span></p>
            <a href="">Logout</a>
        </header>
        <p id="titulo">Encontre Celulares Baratos Na Amazon</p>
        <section>
            <article>
                <div class="post">
                    <div class="img">
                        <img src="../static/img/post-6.jpg" alt="">
                    </div>
                    <p class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus ullam praesentium commodi blanditiis! Officiis commodi voluptatibus, dicta alias unde assumenda voluptatem, labore quam adipisci optio tenetur et expedita vero. Mollitia.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas provident laboriosam nostrum aliquam blanditiis ullam animi laborum quis nesciunt asperiores, non natus perspiciatis tenetur impedit cum, est in suscipit? Quia!
                    </p>
                </div>
            </article>
            <a id="share">Compartilhar o Post</a>
            <div class="comentario">
                <p id="comentarios">Comentários (1)</p>
                <div id="comentario">
                    <div id="perfil">
                        <img src="../static/img/profile-3.jpg" alt="">         
                    </div>
                    <div id="descricao">
                        <h4>Victor Amaral Mendonça</h5>
                        <p>Este Celular Atendeu Minhas Necessidades Do Dia a Dia</p>
                    </div>
                </div>
            </div>
            <div id="comentar">
                <p>Fazer Um Comentário</p>
                <form action="">
                    <input id="comentario" type="text" placeholder="Comentário">
                    <input id="submit" type="submit" value="Enviar Comentário">
                </form>
            </div>
        </section>
        <footer>     
            <p>©Victor Amaral || All Right Reserved</p>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>        
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>