<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogMind</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/post.css">
    <link rel="stylesheet" href="../static/css/hover.css">
</head>
<body>
    <div class="container">
        <header id="header">
            <p>Blog<span>Mind</span></p>
            <a href="">Logout</a>
        </header>
        <section>
            <menu>
                <p>All</p>
                <p>Tecnology</p>
                <p>Games</p>
                <p>Foods</p>
            </menu>
            <article>
                <div class="post">
                    <div class="img">
                        <img src="../static/img/post-6.jpg" alt="">
                    </div>
                    <div class="resources">
                        <div class="tags">
                            <p class="tag">#celularpreto</p>
                            <p class="tag">#barato</p>
                        </div>
                        <p class="data">31 Dec 2023</p>
                    </div>
                    <p class="title">Encontre Celulares Baratos Na Amazon</p>
                    
                    <div class="perfil-post">
                        <img src="../static/img/profile-3.jpg" alt="">
                        <p class="perfil-name-post">Victor Amaral</p>
                    </div>
                </div>
            </article>
        </section>
        <footer class="footer">
            <div class="form">
                <form action="">
                    <h2>Enviar Email</h2>
                    <input type="text" placeholder="Seu Email">
                    <input type="text" placeholder="Mensagem">
                    <input id="submit" type="submit" value="Enviar Email">
                </form>
            </div>
            <div class="icons-footer">
                <p>Redes Sociais</p>
                <div class="icons">
                    <i class="fa-brands fa-github"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div> 
        </footer>
    </div>
    <script src="../static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
</body>
</html>