{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Post</title>
    <link rel="stylesheet" href="{% static 'css/postar.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/hover.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body> 
    <div class="container">
        {% include 'blog/header.html'%}
        <div class="add_post">
            <form action="{% url 'postar' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <h3>Add a Image</h3>

                <label for="image" id="filebutton"><i class=" fa-solid fa-image"></i></label>
                <input type="file" name="file" id="image">

                <h3>Tags(ex: english, tecnology)</h3>
                <input type="text" name="tags" id="tags" autocomplete="off" placeholder="english, tecnology, deploy...">

                <h3>Title</h3>
                <input type="text" name="title" id="title" autocomplete="off" placeholder="Write Here">
                
                <h3>Description</h3>
                <textarea name="descricao" id="descricao" cols="30" rows="10" placeholder="Basic MarkDown(Row, Title and Topics)" wrap="
                hard"></textarea>
                <input type="submit" value="Add Post" id="submit">
            </form>
        </div>
        <div class="post">
            <div class="img">
                <img src="" alt="" id="preview-image">
            </div>
            <div class="resources">
                <div class="tags">
                    <a class="tag" id="preview-tags"></a>
                </div>
                <p class="data">{{ now|date:"d, M, Y" }}</p>
            </div>
            <a href="" class="title" id="preview-title"></a>
            <p id="preview-descricao"></p>
            <div class="perfil-post">
                <img src="{{user.profileimg.url}}" alt="">
                <a href="" class="perfil-name-post" >{{request.user.username}}</a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>