<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="../static/css/account.css">
    <link rel="stylesheet" href="../static/css/animation.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body>
    <section id="CandLogin">
        <div class="form">
            <h1>Logar</h1>
            {% for message in messages %}
                <p style="color: white; font-size: 1.3em;">{{ message }}</p>
            {% endfor %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Nome" required minlength="8">
                <input type="password" name="password" id="" placeholder="Senha" required minlength="8">
                
                <h3 class="messages"></h3>
                
                <a href="register">Eu Não Tenho Uma Conta</a>
                <a href="visitant">Logar Como Visitante</a>
                <input id="submit" type="submit" value="Logar">
            </form>
        </div>
    </section>
</body>
</html>